<section class="container" [style.height.px]="heightDevice">
    <div class="row">
        <div class="RutasDestacadas col">
            <img src="/assets/img/image5.jpg" alt="RutasDestacadas">
        </div>
        <div class="InicioSesion col">
            <img src="/assets/img/image6.jpg" alt="InicioSesion">
        </div>
        <div class="video1 col">
            <video src="/src/assets/vid/video1.mov" alt="video1"></video>
        </div>
    </div>
    <div class="row">
        <div class="video3 col">
            <video src="/src/assets/vid/video3.mov" alt="video3"></video>
        </div>
        <div class="Resigtro col">
            <img src="/assets/img/image4.png" alt="Registro">
        </div>
        <div class="Contacto col">
            <img src="/assets/img/image2.png" alt="Contactos">
        </div>
    </div>
</section>