@import url("../../components/desktop-header/desktop-header.component.css");

/* .no-visible{
    display: none;
} */

/* .col1 {
  margin-top: 5%;
  /* padding: 0;
  position: relative;
} */

/* .col2 {
  margin-top: 0;
  padding: 0;
} */

img {
  width: 100%;
}

.v1,
.v2,
.v3,
.v4,
.v5 {
  position: absolute;
}

.v1 {
  top: 40%;
}

@media (min-width: 992px) {
  .video1 {
    /* position: fixed; */
    /* left: 50%; */
    /* transform: translateX(50%); */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .desktop {
    top: 10%;
    bottom: 25px;
  }

  .video2 {
    /* position: fixed; */
    /* left: 50%; */
    /* transform: translateX(50%); */
    width: 100%;
    height: 100%;
    background-color: black;
    object-fit: cover;
  }

  img {
    width: 100%;
    height: 45vh;
    background-color: black;
  }

  .col-4 {
    padding: 0;
    position: relative;
  }

  .colv1 {
    background-color: black;
  }
  /* Esto asegurará que las imágenes llenen cada contenedores */
  /* img {
    width: 100%;
    height: 40vh;
    /* position: relative;
  } */

  /* Superponer el título */
  .menu-listing {
    position: relative;
  }

  /* estilo al título */
  .menu-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.1s;
    background: rgba(231, 177, 10, 0.6);
    color: white;

    /* Posicion del texto en el medio*/
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-image {
    line-height: 0;
    overflow: hidden;
  }

  /* Líneas borrosas */
  .menu-image img {
    filter: blur(0px);
    transition: filter 0.1s ease-in;
    transform: scale(1.1);
  }

  /* Ocultar el título */
  .menu-listing:hover .menu-title {
    opacity: 1;
  }

  .menu-listing:hover .menu-image img {
    filter: blur(1px);
  }
}
