<section class="container-fluid" [style.height.px]="heightDevice">
    <div class="row">
        <div class="col1 col">
            <article class="menu-listing">
                <a class="menu-title" role="button" (click)="routesRedirections()">
                    RUTAS DESTACADAS
                </a>
                <div class="menu-image">
                    <a href="#">
                        <img src="/assets/img/image5.jpg" alt="RutasDestacadas">
                    </a>
                </div>
            </article>
        </div>
        <div class="col1 col">
            <article class="menu-listing">
                <a class="menu-title" role="button" (click)="logInRedirections()" >
                    INICIO DE SESIÓN
                </a>
                <div class="menu-image">
                    <a href="#">
                        <img src="/assets/img/image6.jpg" alt="InicioSesion">
                    </a>
                </div>
            </article>
        </div>
        <div class="col1 col">
            <video src="/src/assets/vid/video1.mov" type="video/mov"></video>
        </div>
    </div>
    <div class="row">
        <div class="col2 col">
            <video src="/src/assets/vid/video3.mov" alt="video3" autoplay muted loop></video>
        </div>
        <div class="col2 col">
            <article class="menu-listing">
                <a class="menu-title" role="button" (click)="signUpRedirections()">
                    REGISTRO
                </a>
                <div class="menu-image">
                    <a href="#">
                        <img src="/assets/img/image4.png" alt="Registro">
                    </a>
                </div>
            </article>
        </div>
        <div class="col2 col">
            <article class="menu-listing">
                <a class="menu-title" role="button" (click)="contactRedirections()">
                    CONTACTO
                </a>
                <div class="menu-image">
                    <a href="#">
                        <img src="/assets/img/image2.png" alt="Contactos">
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>