@import url("../../components/desktop-header/desktop-header.component.css");

/* .fondo {
  background-image: url("../../../assets/img/image5.jpg") ;
  margin: 0 0 0 0 ;
  height: 260px;
  width: 100%;
  position: relative; 
  height: 150vh;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.caja-contenido{
  position: relative;
  text-align: center;
  display: flex;
}*/

.content {
  height: 300px;
  width: 100%;
  margin: 0 0 0 0;
  /* margin-bottom: 10%; */
}

/*
.fondo .fondo2 {
  margin: -20px 0 0 0;
  background-image: url("../../../assets/img/image6.jpg") ;
}*/

.vector-info {
  background-image: url("../../../assets/img/Vector1.png");
  height: 130px;
  width: 100%;
  z-index: 1;
  margin: -40px 0 0 0;
  /* transform: translateY(-50%); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}

h4 {
  text-align: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
  text-align:center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p {
  text-align: center;
  position: absolute;
  top: 35%;/*
  left: 50%;
  transform: translate(-50%, -50%); */
}

img {
  width: 100%;
  z-index: 0;
}

.v1,
.v2,
.v3,
.v4,
.v5 {
  position: absolute;
}

.v1 {
  top: 40%;
}

.v3 {
  top: 45%;
}

.v4 {
  top: 30%;
}

.v5 {
  top: 45%;
}

@media (min-width: 992px) {
  .video1 {
    /* position: fixed; */
    /* left: 50%; */
    /* transform: translateX(50%); */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .desktop {
    top: 10%;
    bottom: 25px;
  }

  .video2 {
    /* position: fixed; */
    /* left: 50%; */
    /* transform: translateX(50%); */
    width: 100%;
    height: 100%;
    background-color: black;
    object-fit: cover;
  }

  img {
    width: 100%;
    height: 45vh;
    background-color: black;
  }

  .col-4 {
    padding: 0;
    position: relative;
  }

  .colv1 {
    background-color: black;
  }
  /* Esto asegurará que las imágenes llenen cada contenedores */
  /* img {
    width: 100%;
    height: 40vh;
    /* position: relative;
  } */

  /* Superponer el título */
  .menu-listing {
    position: relative;
  }

  /* estilo al título */
  .menu-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.1s;
    background: rgba(231, 177, 10, 0.6);
    color: white;

    /* Posicion del texto en el medio*/
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-image {
    line-height: 0;
    overflow: hidden;
  }

  /* Líneas borrosas */
  .menu-image img {
    filter: blur(0px);
    transition: filter 0.1s ease-in;
    transform: scale(1.1);
  }

  /* Ocultar el título */
  .menu-listing:hover .menu-title {
    opacity: 1;
  }

  .menu-listing:hover .menu-image img {
    filter: blur(1px);
  }
}
