<footer class="w-100">
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h6 class="text-center mb-2 mt-2">&copy; Desarrollado por GRUPO6 - Bogota Institute Of Technology</h6>
  </div>
  <div class="col-3 text-end">
    <a href=""><img class="icon mx-2" src="/assets/icons/facebook.svg" alt="facebook"></a>
    <a href=""><img class="icon mx-2" src="/assets/icons/instagram.svg" alt="instagram"></a>
    <a href=""><img class="icon mx-2" src="/assets/icons/tiktok.svg" alt="instagram"></a>
  </div>
</div>
</footer>
