<section>
  <div class="background-img z-n1 position-fixed top-0"></div>
    <main class="row row-cols-1 row-cols-sm-2 contenedor_principal w-100 m-auto">

     <div class="col w-100 d-flex justify-content-center">
      <div class="contenedor_registro mx-0">
        <h1>Contáctanos</h1>
        <p class="beneficios_registro">Llena el formulario y cuéntanos cómo podemos ayudarte</p>
      </div>
     </div>

     <div class="col w-100 d-flex justify-content-center">
        <form class="contenedor_form" id="form">
          <p class="campos_form">¿Cuál es tu nombre?</p>
          <!-- <div> -->
            <input type="text" class="form-control" id="name" placeholder="Nombre">
          <!-- </div> -->
          
          <p class="campos_form">Escribe tu correo electrónico</p>
          <!-- <div> -->
            <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com">
          <!-- </div> -->
          
          <p class="campos_form">Asunto de contacto</p>
          <!-- <div> -->
            <input type="text" class="form-control" id="user" placeholder="Asunto">
          <!-- </div> -->
          
          <p class="campos_form">Preguntas o sugerencias</p>
          <!-- <div> -->
            <textarea type="text" class="form-control campo_mensaje" id="mensaje" placeholder="Tu mensaje aquí"></textarea>
          <!-- </div> -->
          
          <!-- <button class="w-50 btn btn-lg btn-light boton_login_signup btn_ingresar" type="submit">Enviar</button> -->
          <button class="btn w-100" type="submit">ENVIAR</button>
        </form>
      </div>
    </main>
  </section>