.background-img {
        background: url('../../../../assets/img/image2.jpg');
        opacity: 0.55;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
}

section {
    margin-top: 20px;
}

.contenedor-registro {
    background-color: rgba(247, 241, 229, .4);
    border-radius: 15px;
}

h1{
    font-size: 30px;
    font-style: bold;
    padding-top: 10px;
    margin: 0;
}

.beneficios-registro{
    font-size: 15px;
    text-align: center;
    padding: 5px 15px;
}

.contenedor-form {
    background-color: rgba(247, 241, 229, .4);
    border-radius: 15px;
    width: 100%;
}

form {
    padding: 10px;
}

input,textarea {
    background-color:#f7f1e5;
}

.btn{
    background: #e7b10a;
    border-color: #e7b10a;
    color: black;
    width: 100%;
}

@media (min-width: 768px) {
    section {
        height: 75vh;
    }

    .contenedor-registro {
        width: 85%;
    }
    h1{
        font-size: 45px;
    }

    .beneficios-registro{
        font-size: 25px;
    }

    .contenedor-form {
        width: 85%;
    }

    .form-label {
        font-size: 18px;
    }

    input,textarea {
        font-size: 18px;
    }

    .btn{
        font-size: 18px;
    }
}
    

@media (min-width: 992px) {
    section {
        position: absolute;
        top: 20%;
    }

    h1{
        font-size: 45px;
    }

    .beneficios-registro{
        font-size: 20px;
        padding: 10px 15px;
    }

    .contenedor-form {
        width: 90%;
    }

}

/* .contenedor_principal {
    position: absolute;
    top: 15%;
}

.contenedor_registro {
    background-color: rgba(247, 241, 229, .4);
    border-radius: 15px;
}

h1{
    font-size: 35px;
    font-style: bold;
    color: #000000;
    text-align: center;
    padding-top: 15px;
}
.beneficios_registro{
    font-size: 20px;
    text-align: center;
    padding:0px 15px;
}
.boton_login_signup {
    width: 40%;
    height: 50px;
    background-color: #8980214b;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 10px;
}
.contenedor_form {
    background-color: rgba(247, 241, 229, .4);
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}
.campos_form {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
input,textarea{
    padding: 20px;
    height: 50px;
    font-family: 'Josefin Sans', sans-serif;
    background-color:#f7f1e5;
}

.btn{
    align-self: center;
    margin-top: 20px;
    background: #e7b10a;
    border-color: #e7b10a;
    color: black;

}

@media (min-width: 576px){
    h1{
        font-size: 50px;
        font-weight: 500px;
    }
    .beneficios_registro{
        font-size: 25px;
    }
}

@media (min-width: 768px){
    h1{
        font-size: 55px;
        font-weight: 500px;
    }
    .beneficios_registro{
        font-size: 30px;
    }
    .campos_form {
        font-size: 25px;
    }
    input,textarea{
        font-size: 25px;
    }
    .btn{
        font-size: 25px;
    }
    
}

@media(min-width: 992px) {

} */
