@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,300;1,700&display=swap');

body{
    background-image: url(../../../../assets/img/contact-page-background.png);
    background-size: cover;
    background-repeat: no-repeat;    
}

/* Estilos para el contenedor que tiene todos los elementos */
.contenedor_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
}
/* Estilos para el recuadro donde está el texto de registro y el botón de iniciar sesión */
.contenedor_registro {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #F7F1E5;
    padding: 10px 40px;
    border-radius: 30px;
    margin-right: 50px;
    margin-top: 50px;
    justify-content: center;
    align-items: left;
    width: 550px;
    height: 300px;
}
h1{
    font-size: 50px;
    font-style: bold;
    font-weight: 700;
    color: #2a2907;
}
.beneficios_registro{
    font-size: 20px;
}
.boton_login_signup {
    width: 40%;
    height: 50px;
    background-color: #8980214b;
    color: rgb(0, 0, 0);
    font-weight: 700;
    border-radius: 10px;
}
.contenedor_form {
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-top: 200px;
    width: 500px;
    background-color: #F7F1E5;
    justify-content: space-between;
    padding: 20px;
    height: 500px;
}
.campos_form {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
input{
    padding: 20px;
    height: 50px;
    font-family: 'Josefin Sans', sans-serif;
}
.campo_mensaje{
    padding: 50px;
}
.btn_ingresar {
    align-self: center;
    margin-top: 10px;
}
.checkbox{
    margin-top: 10px;
    align-self: center;
}

/* Estilos para el responsive design */
@media screen and (max-width: 850px){
      
    .contenedor_principal{
        flex-direction: column;
        align-items: center;
    }
    .contenedor_registro{
        max-width: 500px;
        margin-left: 40px;
        height: 170px;
        width: 500px;
        background-color: #F7F1E5;
        
    }
    .contenedor_form{
        max-width: 500px;
        margin-bottom: 50px;
        margin-top: 20px;
        background-color: #F7F1E5;
    }
}

@media screen and (max-width: 450px){
    .contenedor_principal{
        flex-direction: column;
        align-items: center;
    }
    .contenedor_registro{
        max-width: 400px;
        margin-left: 50px;
        height: 150px;
        width: 360px;
    }
    .contenedor_form{
        max-width: 350px;
        margin-bottom: 50px;
        margin-top: 20px;
        background-color: #F7F1E5;
    }
    .boton_login_signup{
        width: 300px;
        height: 50px;
        background-color: black;
        color: white;
        font-weight: 700;
        border-radius: 10px;
    }

}
