.background-img {
  background: url("/assets/img/image4.jpg");
  opacity: 0.55;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
div input {
  border-color: #4C4B16;
  margin-bottom: 1.5rem;
}

.login-container {
  margin-top: 16rem;
}

.short-input {
  width: 27rem;
  margin: 0 auto;
  background-color: #F7F1E5;
}

.short-btn {
  width: 27rem;
  margin: 0 auto;
}

.login-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7b10a;
  border-radius: 0.5rem;
  border-color: #e7b10a;
  color: #000000;
  width: 100%;
  z-index: -1;
}

.login-button:active {
  background: #aa8306;
  border-color: #aa8306;
  color: #ffffff;
}

.input-group {
  display: flex;
}

.form-control-with-radio {
  position: relative;
  border-radius: 0.938rem;
}

.form-control-with-radio .form-control {
  padding-right: 2rem;
}

.form-control-with-radio .radio-buttons {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}

.form-control-with-radio .radio-label {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

.form-control-with-radio .radio-label input[type="radio"] {
  margin-right: 2rem;
  margin-top: 1.5rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.125rem solid #aa8306;
  background-color: white;
}

.form-control-with-radio .radio-text {
  order: -1;
  margin-right: 1rem;
}

.form-control-with-radio .radio-label input[type="radio"]:checked {
  background-color: #e7b10a;
}
