<section class="w-100 h-100">
  <div class="background-img z-n1 position-fixed top-0"></div>
  <div class="container login-container">
    <div class="row">
      <div class="col-md column-left">
        <input
          type="text"
          class="form-control"
          id="inputName"
          aria-describedby="nameHelp"
          placeholder="Nombre"
        />
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          aria-describedby="emailHelp"
          placeholder="Correo electrónico"
        />
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          placeholder="Contraseña"
        />
        <input
          type="number"
          class="form-control"
          id="phoneNumber"
          aria-describedby="phoneNumberHelp"
          placeholder="Celular"
        />

        <div class="form-control-with-radio">
          <input
            type="text"
            class="form-control"
            id="inputBike"
            aria-describedby="bikeHelp"
            placeholder="Motocicleta"
            readonly
          />
          <div class="radio-buttons">
            <label for="bikeYes" class="radio-label">
              <input type="radio" id="bikeYes" name="bikeOption" value="yes" />
              <span class="radio-text">Sí</span>
            </label>
            <label for="bikeNo" class="radio-label">
              <input type="radio" id="bikeNo" name="bikeOption" value="no" />
              <span class="radio-text">No</span>
            </label>
          </div>
        </div>
        <input
          type="text"
          class="form-control"
          id="inputRef"
          aria-describedby="refHelp"
          placeholder="Referencia"
        />
        <input
          type="text"
          class="form-control"
          id="inputType"
          aria-describedby="typeHelp"
          placeholder="Tipo"
        />
      </div>
      <div class="col-md column-right">
        <input
          type="text"
          class="form-control"
          id="inputLastName"
          aria-describedby="lastNameHelp"
          placeholder="Apellido"
        />
        <input
          type="text"
          class="form-control"
          id="inputBirthday"
          aria-describedby="birthdayHelp"
          placeholder="Fecha de nacimiento"
        />
        <input
          type="password"
          class="form-control"
          id="inputConfirmPassword"
          placeholder="Confirmar contraseña"
        />
        <input
          type="text"
          class="form-control"
          id="inputCity"
          aria-describedby="cityHelp"
          placeholder="Ciudad"
        />
        <input
          type="text"
          class="form-control"
          id="inputBrand"
          aria-describedby="brandHelp"
          placeholder="Marca"
        />
        <input
          type="text"
          class="form-control"
          id="inputModel"
          aria-describedby="modelHelp"
          placeholder="Modelo"
        />
        <div class="input-group">
          <button type="button" class="btn btn-primary login-button">
            REGISTRARSE
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
