.background-img {
    background: url('/assets/img/image2.png');
    opacity: 0.55;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.map {
    height: 60vh;
}

.info {
    margin-right: 12px;
    background-color: rgba(247, 241, 229, .3);
}

.comment-container {
    background-color: rgba(247, 241, 229, .3);
}

.title {
    font-size: 1.3rem;
}

@media (min-width: 576px) {
    h6 {
        font-size: 2rem;
    }

    .title {
        font-size: 2rem;
    }

    .map {
        height: 70vh;
    }

}

@media (min-width: 992px) {
    .background-img {
        background: url('/assets/img/image5.jpg');
        opacity: 0.55;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    h3, h4 {
        text-align: center;
        font-weight: bold;
    }

    p {
        padding: 0 10px;
        text-align: justify;
        font-size: 1rem;
    }
}