<!-- vista movil -->
<section class="mobile-view">
  <!-- imgen de fondo -->
  <div class="background-img z-n1 position-fixed"></div>
  <!-- componente mobile-header -->
  <app-mobile-header class="z-1"></app-mobile-header>
  <h2 class="title text-center mt-3 fw-bold">RUTAS DESTACADAS</h2>
  <!-- mapa con los enlaces de las rutas -->
  <div class="map text-center mt-3 position-relative">
    <img src="/assets/img/map.png" alt="map" />
    <a class="routes" href=""
      ><h6 class="routes1 position-absolute">Punta Gallinas</h6></a
    >
    <a class="routes" (click)="tatacoaRedirection()"
      ><h6 class="routes2 position-absolute">Desierto de la Tatacoa</h6></a
    >
    <a class="routes" href=""
      ><h6 class="routes3 position-absolute">Caño Cristales</h6></a
    >
  </div>
    <!-- componente mobile-footer -->
  <app-mobile-footer class="position-absolute bottom-0 w-100"></app-mobile-footer>
</section>

<!-- vista desktop -->
<section class="desktop-view w-100 h-100">
  <!-- imgen de fondo -->
  <div class="background-img z-n1 position-fixed"></div>
  <!-- componente desktop-header -->
  <app-desktop-header class="z-1"></app-desktop-header>
  <!-- grid con el cuerpo de la página -->
  <div class="row w-100 text-center mx-0">
    <!-- columna izquierda -->
    <div class="col">
      <!-- google maps -->
      <app-map-component (markerClicked)="handleMarkerClick($event)"></app-map-component>
    </div>
    <!-- columna derecha -->
    <div class="col">
      <!-- imagen del destino -->
      <img class="w-75" [src]="selectedMarkerImage" alt="Imagen del marcador">
      <!-- descripción del destino -->
      <p class="pt-2 mb-4">{{ selectedMarkerParagraph }}</p>
      <!-- <p class="pt-2 mb-4">
        El Desierto de la Tatacoa es considerado como uno de los principales
        atractivos ambientales y turísticos del departamento del Huila, donde
        los procesos de erosión, las plantas de cactus y arbustos espinosos, las
        condiciones extremas del clima, y los hallazgos fósiles, llaman la
        atención de visitantes interesados en la apreciación de la naturaleza.
        Es la segunda zona árida más extensa de Colombia después de la Península
        de La Guajira. "La Tatacoa", no es justamente un desierto, sino un
        bosque seco tropical.
      </p> -->
    </div>
  </div>
  <!-- comentarios -->
  <div class="row w-100 mt-2">
    <div class="col"></div>
  </div>
  <!-- footer -->
  <app-desktop-footer class="position-fixed bottom-0 w-100"></app-desktop-footer>
</section>
