<div>
    <!-- <img class="marker-img" [src]="descriptionData.selectedImage" alt="Imagen del marcador"> -->
    <h3 class="marker-title">{{ descriptionData }}</h3>
    <p class="marker-description">{{ descriptionData?.description }}</p>
    <h4 class="marker-subtitle1">Geografía y clima</h4>
    <!-- <p class="marker-geography">{{ descriptionData.selectedGeography }}</p> -->
    <h4 class="marker-subtitle2">Atractivos</h4>
    <!-- <p class="marker-atractions">{{ descriptionData.selectedAttractions }}</p> -->
</div>
<!-- información de la ruta -->
