<section class="w-100 h-100">
  <div class="background-img z-n1 position-fixed top-0"></div>
  <div class="container">
    <div class="row">
      <div class="col-md">
        Column One
      </div>
      <div class="col-md">
        Column Two
        <div class="input-group">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="input-group">
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="input-group">
          <button type="button" class="btn btn-primary login-button">Primary</button>
        </div>
      </div>
    </div>
  </div>
</section>
