<section class="w-100 h-100">
  <div class="background-img z-n1 position-fixed top-0"></div>
  <div class="container login-container">
    <div class="row">
      <div class="col-md column-left"></div>
      <div class="col-md column-right login-input-container">
        <div class="input-group login-input">
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            aria-describedby="emailHelp"
            placeholder="Correo electrónico"
          />
        </div>
        <div class="input-group login-input">
          <input
            type="password"
            class="form-control"
            id="inputPassword"
            placeholder="Contraseña"
          />
        </div>
        <div class="input-group">
          <button type="button" class="btn btn-primary login-button">
            INGRESAR
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
