.navbar-brand {
    width: 60%;
}

.collapse {
    background-color: rgba(247, 241, 229, .5);
}

.icon {
    width: 25px;
    height: 25px;
    margin: 10px 15px;
}

.person {
    width: 30px;
    height: 30px;
}

.navbar-nav {
    font-size: 1.2rem;
}

@media (min-width: 576px) {
    .person {
        width: 60px;
        height: 60px;
    }

    .navbar-toggler-icon {
        width: 60px;
        height: 60px;
    }

    .navbar-toggler {
        margin-right: 15px;
    }

    .navbar-nav {
        font-size: 2rem;
    }

    .icon {
        width: 50px;
        height: 50px;
    }
}