<header>
    <nav class="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="logo w-100" src="/assets/img/RouteRider_mobile.png" alt="RouteRaider logo">
            </a>
            <a href="#">
                <img class="person" src="/assets/icons/person-circle.svg" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Rutas Destacadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio de sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a>
                            <img class="icon" src="/assets/icons/facebook.svg" alt="facebook">
                            <img class="icon" src="/assets/icons/instagram.svg" alt="instagram">
                            <img class="icon" src="/assets/icons/tiktok.svg" alt="tiktok">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>