<header class="">
    <nav class="navbar sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="logo w-100" src="/assets/img/RouteRider_mobile.png" alt="RouteRaider logo">
            </a>
            <div class="dropdown">
                <a class="btn" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="person" src="/assets/icons/person-circle.svg" alt="">
                </a>
                <ul class="ul dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Perfil</a></li>
                    <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav text-center">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="routesRedirection()">Rutas Destacadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio de sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a href=""><img class="icon" src="/assets/icons/facebook.svg" alt="facebook"></a>
                        <a href=""><img class="icon" src="/assets/icons/instagram.svg" alt="instagram"></a>
                        <a href=""><img class="icon" src="/assets/icons/tiktok.svg" alt="instagram"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>